@import '../../constants/variables.scss';

.button {
  font-size: 10pt;
  padding: 0.4em 1em;
  background: linear-gradient(
    to right,
    $primary-color,
    $secondary-color,
    $primary-color
  );
  border-radius: 10px 10px;
  border: 1px solid rgb(213, 213, 213);
  box-shadow: 0 0 5px 1px;
  transition: all;
  transition-duration: 0.3s;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.button:hover {
  box-shadow: inset 0 0 5px 1.5px rgb(28, 28, 28);
  background: $primary-color;
  color: #a8aefc;
}
.button:active {
  background: linear-gradient(to right, #3643ff, #3643ff, #3643ff);

  box-shadow: 0 0 1px 1px, inset 0 0 1px 1px;
}
