@import './../../constants/variables.scss';

.footer {
  position: absolute;
  bottom: 0;
  height: 120px;
  width: 90%;
  margin: 0 5%;
  background: $primary-color;

  div {
    margin: 40px;
    color: white;
    font-size: 20pt;
  }
}
